<header>
  <mat-toolbar color="primary">
    <div class="navbar-container">
      <div class="nav-section left-section">
        <a class="navbar-brand" [routerLink]="['/']">
          <img src="assets/logo.png" alt="Logo" width="40" height="40" />
          <span class="brand-text">GPUSpec</span>
        </a>
      </div>

      <div class="nav-section center-section">
        <a mat-flat-button color="primary" [routerLink]="['/']">Home</a>
        <a mat-flat-button color="primary" [routerLink]="['/browse']">Browse</a>
      </div>

      <div class="nav-section right-section">
        @if (!isLoggedIn) {
        <a mat-flat-button color="primary" [routerLink]="['/login']">
          Sign In
        </a>
        } @else {
        <a mat-button (click)="onLogout()">Logout</a>
        }
      </div>
    </div>
  </mat-toolbar>
</header>
