<div class="flex flex-center flex-row">
  <form class="form flex flex-center flex-column" [formGroup]="signupForm">
    <h3 class="no-margin mat-primary">
      <strong class="mat-primary">Create Account</strong>
    </h3>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Ex. pat@example.com"
      />
      @if (signupForm.get('email')?.hasError('required')) {
      <mat-error>Email is required</mat-error>
      } @if (signupForm.get('email')?.hasError('email')) {
      <mat-error>Invalid email</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
      @if (signupForm.get('password')?.touched &&
      signupForm.get('password')?.hasError('required')) {
      <mat-error>Password is required</mat-error>
      }
    </mat-form-field>

    <div class="password-requirements">
      <div class="req-section">
        <span class="req-title">Must contain:</span>
        <div class="req-chips">
          <div class="req-chip" [class.valid]="hasUpperCase">
            <mat-icon>check_circle</mat-icon> ABC
          </div>
          <div class="req-chip" [class.valid]="hasLowerCase">
            <mat-icon>check_circle</mat-icon> abc
          </div>
          <div class="req-chip" [class.valid]="hasDigit">
            <mat-icon>check_circle</mat-icon> 123
          </div>
          <div class="req-chip" [class.valid]="hasSpecialChar">
            <mat-icon>check_circle</mat-icon> &#64;#$
          </div>
        </div>
      </div>

      <div class="req-section last-section">
        <span class="req-title">Length:</span>
        <div class="req-chips">
          <div class="req-chip" [class.valid]="hasMinLength">
            <mat-icon>check_circle</mat-icon> 6+ Chars
          </div>
        </div>
      </div>
    </div>
    @if (signupResult && !signupResult.success) {
    <div class="server-error">
      {{ signupResult.message }}
    </div>
    }

    <button
      class="sign-up button"
      mat-flat-button
      color="primary"
      (click)="submit()"
      [disabled]="signupForm.invalid"
    >
      Sign Up
    </button>

    <div class="flex flex-center flex-row">
      <p class="no-margin" color="primary">Have an Account?</p>
      <a color="primary" [routerLink]="['/login']"> <strong>Sign In</strong></a>
    </div>
  </form>
</div>
