.search_container {
  justify-content: center;
  align-items: stretch !important;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.search_component {
  justify-content: center;
  align-items: stretch !important;
  flex-grow: 4;
}
.search_field {
  flex-grow: 4;
}
h1 {
  margin: 0px;
  font-size: 18px;
}
.browse_text {
  display: flex;
  align-items: center;
}
.search_button {
  margin-right: 8px;
}
.spacing {
  flex-grow: 1;
}

.listings-root {
  flex-grow: 4;
  padding: 10px;
}

.filterbar-root {
  flex-grow: 0;
  padding: 10px;
}
