h1 {
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
}

.gap {
  gap: 20px;
}

.search_form {
  gap: 0px;
  width: 100%;
  align-items: stretch;
}

.search_field {
  flex-grow: 4;
}

.search_button {
  flex-grow: 2;
}
