<div class="hero-container flex flex-column flex-center">
  <article class="content-wrapper flex flex-column flex-center">
    <div class="text-center">
      <h1 class="brand-title">GPUSpec</h1>
      <h2 class="subtitle">GPU Technical Specifications</h2>
      <p class="description">
        View GPU product listings with detailed specifications from top
        manufacturers.
      </p>
    </div>

    <form
      class="search-bar-container"
      [formGroup]="searchForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field
        class="search-input"
        appearance="outline"
        subscriptSizing="dynamic"
      >
        <mat-label>Search GPU Listing</mat-label>
        <input
          type="text"
          matInput
          formControlName="name"
          placeholder="e.g. RTX 4090"
        />
      </mat-form-field>

      <button
        class="search-button"
        mat-flat-button
        color="primary"
        type="submit"
      >
        Search
      </button>
    </form>
  </article>
</div>
