.mat-mdc-flat-button.mat-primary:hover,
.mat-mdc-raised-button.mat-primary:hover {
  background-color: #ffd740 !important;
  color: black !important;
}

.mdc-button.mat-primary:hover {
  background-color: #ffd740 !important;
  color: black !important;
}

.mdc-fab.mat-primary:hover {
  background-color: #ffd740 !important;
  color: black !important;
}

.brand-text:hover {
  color: #ffd740 !important;
}

.manufacturer-badge:hover {
  color: #ffd740 !important;
}

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
  display: flex;
  gap: 8px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.max-width {
  width: 100%;
}

.transparent-button {
  background-color: transparent;
  border: none;
}

button {
  border-radius: 4px;
}
