.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

/*
Source - https://stackoverflow.com/a/53893229
Posted by Akhi Akl, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-26, License - CC BY-SA 4.0
*/

:host ::ng-deep .mat-radio-container {
  height: 10px;
  width: 10px;
}
:host ::ng-deep .mat-radio-outer-circle {
  height: 10px;
  width: 10px;
}
:host ::ng-deep .mat-radio-inner-circle {
  height: 10px;
  width: 10px;
}
:host ::ng-deep .mat-radio-button .mat-radio-ripple {
  height: 20px; /*double of your required circle radius*/
  width: 20px; /*double of your required circle radius*/
  left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
  top: calc(50% - 10px); /*'10px'-same as your required circle radius*/
}
