<div class="flex flex-column filter-container">
  <h4><strong>Manufacturer</strong></h4>
  <mat-form-field>
    <mat-label>Select Manufacturer</mat-label>
    <mat-select [(value)]="selectedManufacturer" (selectionChange)="onSubmit()">
      @for (manufacturer of manufacturers; track manufacturer) {
      <mat-option [value]="manufacturer.value">{{
        manufacturer.display
      }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <h4><strong>Architecture</strong></h4>
  <mat-form-field>
    <mat-label>Select Architecture</mat-label>
    <mat-select [(value)]="selectedArchitecture" (selectionChange)="onSubmit()">
      @for (architecture of architectures; track architecture) {
      <mat-option [value]="architecture.value">{{
        architecture.display
      }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <h4><strong>Memory Type</strong></h4>
  <mat-form-field>
    <mat-label>Select Memory Type</mat-label>
    <mat-select [(value)]="selectedMemoryType" (selectionChange)="onSubmit()">
      @for (memoryType of memoryTypes; track memoryType) {
      <mat-option [value]="memoryType.value">{{
        memoryType.display
      }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <h4><strong>Memory Size (GB)</strong></h4>
  <span class="range-display"
    >{{ minMemorySize }} GB - {{ maxMemorySize }} GB</span
  >
  <div class="flex flex-row slider">
    <mat-slider [min]="minMemoryLimit" [max]="maxMemoryLimit" step="1">
      <input [(ngModel)]="minMemorySize" matSliderStartThumb />
      <input [(ngModel)]="maxMemorySize" matSliderEndThumb />
    </mat-slider>

    <div class="button-container">
      <button
        class="button"
        mat-flat-button
        color="primary"
        (click)="onSubmit()"
      >
        Done
      </button>
    </div>
  </div>

  <h4><strong>Process Size (nm)</strong></h4>
  <span class="range-display"
    >{{ minProcessSize }} nm - {{ maxProcessSize }} nm</span
  >
  <div class="flex flex-row slider">
    <mat-slider [min]="minProcessLimit" [max]="maxProcessLimit" step="1">
      <input [(ngModel)]="minProcessSize" matSliderStartThumb />
      <input [(ngModel)]="maxProcessSize" matSliderEndThumb />
    </mat-slider>

    <div class="button-container">
      <button
        class="button"
        mat-flat-button
        color="primary"
        (click)="onSubmit()"
      >
        Done
      </button>
    </div>
  </div>

  <h4><strong>Release Year</strong></h4>
  <span class="range-display">{{ minReleaseYear }} - {{ maxReleaseYear }}</span>
  <div class="flex flex-row slider">
    <mat-slider [min]="minYearLimit" [max]="maxYearLimit" step="1">
      <input [(ngModel)]="minReleaseYear" matSliderStartThumb />
      <input [(ngModel)]="maxReleaseYear" matSliderEndThumb />
    </mat-slider>

    <div class="button-container">
      <button
        class="button"
        mat-flat-button
        color="primary"
        (click)="onSubmit()"
      >
        Done
      </button>
    </div>
  </div>
</div>
