.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.filter-container {
  gap: 15px;
}

.slider {
  align-items: center;
  gap: 16px;
  width: 100%;
}

.button {
  padding: 0px;
}

span {
  font-size: 15px;
}

h4 {
  margin-bottom: 0px;
}
