.listings-bar {
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

.listings-container {
  justify-content: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

mat-paginator {
  display: flex;
  justify-content: center;
}

.listings-items {
  gap: 10px;
}
