.listings-bar {
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

.listings-container {
  justify-content: center;
}

mat-paginator {
  display: flex;
  justify-content: center;
}
